{% extends "course/layouts/main.html" %}
{% load static %}

{% block title %}
    {{course.course_title}} | Enrollment
{% endblock title %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4"><span class="theme">C</span>ourse <span class="theme">R</span>egistration</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Name Field -->
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ initial_data.name }}" readonly>
        </div>
    
        <!-- Email Field -->
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ initial_data.email }}" readonly>
        </div>
    
        <!-- Phone Field -->
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" value="{{ initial_data.phone }}" >
        </div>
    
        <!-- Course Selection Field -->
        <div class="mb-3">
            <label class="form-label">Selected Course</label>
            <p class="form-control-plaintext">{{ course.course_title }}</p>
            <input type="hidden" name="course_title" value="{{ course.course_title }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Price :{{course.course_cost}}.Rs </label>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>
    
</div>

{% endblock content%}