{% extends "course/layouts/main.html" %}
{% load static %}

{% block title %}
    Course | EdTech
{% endblock title %}
{%block css%}{% static "css/course.css" %}{%endblock css%}
{% block content %}
    <div class="container-fluid p-2">
        <ul class="nav nav-tabs mb-4" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#home-panel">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#myCourse-panel">My Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#progress-panel">Progress</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#live-panel">live</a>
            </li>
          </ul>
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="home-panel" class="container tab-pane active">
              <div class="container-fluid">
                <div class="row">
                  {% for course in courses  %}
                    <div class="col-sm-12 col-lg-3 mb-3  {% if course.lock %}lock{% endif %}">
                      <div class="course-1">
                        <div class="card shadow-for-course">
                          <img class="card-img-top image" src="{{course.course_thumbnail.url}}" alt="Card image">
                          <div class="card-body">
                            <div class="row ps-2">
                              <h4 class="card-title col-12 h-100">{{course.course_title}}</h4>
                              <div class="col-12"><img src="{%static 'img/courseImg/components/course-ratings.png'%}" class=" ratings" alt=""></div>
                              
                              <a href="{% url 'course_about' course.id%}" class="btn btn-color col-12 mt-2">More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% if course.lock %}
                        <img src="{% static "img/img-course-lock.svg" %}" alt="" class="img img-fluid img-course-lock">
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                  
              </div>
            </div>
            <div id="myCourse-panel" class="container tab-pane fade"><br>
              <div class="container-fluid p-2">
                {% for enrolled_course in enrolled_coures %}
                  <div class="course-navs course-1 rounded shadow-for-course p-3 course-details-user mt-4">
                    <div class="row">
                      <div class="col-3 h-100 ">
                        <img src="{{enrolled_course.course.course_thumbnail.url}}" alt=""class="img img-fluid h-100" >
                      </div>
                      <div class="col-9">
                        <div class="row g-0">
                          <div class="col-12"><h4>{{ enrolled_course.course.course_title }}</h4>
                            <div class="d-flex flex-row justify-contet-center align-items center" style="height:20px;">
                              <img src="{% static "img/courseImg/components/course-ratings.png" %}" alt="" class="ratings">
                              <p class="text-blue-ongoing ps-1 ">OnGoing <img src="{% static "img/courseImg/components/course-fire.png" %}" alt="" height="15px" width="18px" class=" ps-1"></p>
                            </div>
                            <p class="theme-2">Duration: {{ enrolled_course.course.course_duration }}</p>
                            <p class="mt-0 theme-2 ">{{enrolled_course.course.course_description | truncatechars:100}}</p>
                            <div class="d-flex flex-row w-100 align-items-center justify-content-between">
                              <div class="progress w-75" style="height: 10px;">
                                <div class="progress-bar course-progress-bar" role="progressbar" style="width:{{ enrolled_course.progress_percentage }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <div>
                                <a href="{% url "course_detail" enrolled_course.course.id %}" class="btn btn-color col-5">View</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {%empty%}
                <p>You are not enrolled in any course.</p>
                {% endfor %}
              </div>
            </div>
            <div id="progress-panel" class="container tab-pane fade"><br>
              <h3>Progress</h3>
              {% block progress %}{% endblock progress %}
            </div>
            <div id="live-panel" class="container tab-pane fade"><br>
              <h3>Live</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
          </div>
    </div>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}




