@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
img{
    user-select: none;
}
.navbar,.navbar-brand{
    backdrop-filter: blur(5px);
    font-size: 1.4rem !important;
}
.link-nav-align{
    width:30%;
}
.nav-item .nav-link
{
    color:#000000 !important;
    transition: all 0.3s;
}
.theme{
    color:#FD5D00 !important;
    
    text-decoration: none !important;
}
.theme-2{
    color:#696767 !important;
}
.nav-link.active{
    color:#FD5D00 !important;
}

.nav-link:hover
{
    transform: scale(1.09);

}
#offcanvas-height
{
    height: 250px !important;
}

.btn-color
{
    height: 35px !important;
    width: 90px !important;
    color:white !important;
    background: #FD5D00 !important;
    border-radius: 20px !important;
    text-decoration: none !important;
}
.content-div{
    padding-top:70px;
}