body {
    font-family: 'Arial', sans-serif;
}

.course-image img {
    width: 100%;
    height: auto;
}

h2 {
    font-weight: bold;
}

.ongoing {
    color: blue;
    font-weight: bold;
}

.accordion-button {
    background-color: #f7f7f7;
    font-weight: bold;
}

.course-sections h5 {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

.course-sections .list-group-item {
    border: none;
    padding: 10px 15px;
}


.tech-badge
{
    background-color: #D9D9D9 !important;
    color: #4B3F3F !important;
}
.btn-secondary[disabled] {
    background-color: lightgray;
    border: none;
}
