{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static "css/style.css"%}">
    <title>Login | EdTech</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static "css/form.css"%}">
</head>
<body class="vh-100">
    <div class="container-fluid h-100">
        <div class="row h-100 d-flex justify-content-center align-items-center">
            <div class="col-md-5 d-none d-md-block">
                <img src="https://ogfopexbppxzxnmbsqxe.supabase.co/storage/v1/object/public/components//Fingerprint-bro.png" class="img-fluid" alt="login.png">
            </div>

            <!-- Login Form Side -->
            <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
                <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
                    <h1 class="text-center mb-4 theme">Login</h1>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <a href="{% url "forgot_password" %}" class="theme  mt-1 forgot-password">Forgot password?</a>
                        </div>
                        
                        <button type="submit" class="btn w-100 btn-color">Login</button>
                    </form>

                    <p class="text-center mt-3">
                        Don't have an account? <a href="{% url 'register' %}" class="theme">Sign Up</a>
                    </p>
                </div>

                <p class="py-2"><a href="{% url 'home' %}" class="theme text-decoration-none">&larr; Back Home</a></p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
